.dialog-button {
  display: inline-block;
  padding: 0 12px;
  margin-bottom: 8px;
  outline: none;
  border: none;
  border-radius: 4px;
  height: 32px;
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: #385898;
  background-color: #e7f3ff;
  cursor: pointer;
}

.dialog-button:focus-visible {
  box-shadow: 0 0 0 2px #666;
}
.dialog-button:hover {
  background-color: #dbe7f2;
}
